.homepage {
  &__notifies {
    &:not(:empty) {
      margin-bottom: 3em;
    }
  }

  &__popular {
    margin-top: 30px;
  }
}

.search-suggestions-container {
  border-radius: 8px;
}

.load {
  height: 42px;
  margin: 12px 0px 12px 0px;
  animation: loop__load 1s linear infinite;
  background: rgba(246, 246, 250, 1);

  .tips {
    color: transparent;
  }
}



@keyframes loop__load {
  0%{
    background-position: -450px 0;
    }
    100%{
    background-position: 450px 0;
    }
}